@model IEnumerable<WebApplication4.Models.Product>

@{
    ViewBag.Title = "Retail";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".AddLink").click(function () {
                // Get the id from the link

                var recordToAdd = $(this).attr("data-id");
                var recordToAdd2 = document.getElementById("Amount").value;
                if (recordToAdd != '') {
                    // Perform the ajax post
                    $.post("/ShoppingCart/AddToCart", { "id": recordToAdd, "amount": recordToAdd2 },
                        function (data) {
                            $('#cart-status').text(data.CartCount);
                        });
                }
            });
        });
</script>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div aria-hidden="true" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">?</button>
        <strong>An item was added to your cart.</strong> To check out now simply <a href="#" class="alert-link">click here</a>.
    </div>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">?</button>
                <h4 class="modal-title">Confirm check out.</h4>
            </div>
            <div class="modal-body">
                <p>Would you like to check out or keep shopping??</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">Check Out</button>
            </div>
        </div>
    </div>
</div>



<h2>Retail Product</h2>

<div class="bs-docs-section">
    <div class="row">
        @using (Html.BeginForm("Retail", "Product", FormMethod.Get))
        {

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Find: </span>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-info btn-sm" value="Search" />
                    </span>
                </div>
            </div>
        }
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th>
           Quantity
        </th>
        <th>
            Retail Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Url.Content(item.Images)" alt="IMAGES" width="100" height="100" />
            </td>
            <td>
                <input type="number" id="Amount" value="" min="1" max="10" step="1">
            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retail_Price)
            </td>
            <td>
                <a href="#" class="AddLink" data-id="@item.ID" data-toggle="modal" data-target="#myModal">Add to cart</a> |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            </td>
        </tr>
    }

</table>